In [34]:
%load_ext sql
%sql postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [35]:
%%sql

SELECT
    *
FROM billboard_top_100_year_end
WHERE year = 1988 AND year_rank = 2

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(3290, 1988, 2, 'INXS', 'INXS', 'Need You Tonight', 3291.0)]

In [36]:
%%sql

SELECT * FROM coaches WHERE index <5

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 'AGHAKOUCHEKI Abbas', 'Islamic Republic of Iran', 'IRI', 'Wheelchair Basketball', 'WBK', 'Men'),
 (1, 'AKIN Ahmet', 'Turkey', 'TUR', 'Wheelchair Basketball', 'WBK', 'Men'),
 (2, 'AKPWEH Toussaint', 'France', 'FRA', 'Football 5-a-side', 'FB5', 'Men'),
 (3, 'ARIMA Masato', 'Japan', 'JPN', 'Wheelchair Basketball', 'WBK', None),
 (4, 'BAN Nicole', 'Canada', 'CAN', 'Sitting Volleyball', 'VBS', 'Women')]

In [37]:
%%sql
SELECT year, song_name FROM billboard_top_100_year_end WHERE year_rank = 1 LIMIT 10

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
10 rows affected.

[(1956, 'Heartbreak Hotel'),
 (1957, 'All Shook Up'),
 (1958, 'Volare (Nel Blu Dipinto Di Blu)'),
 (1959, 'The Battle Of New Orleans'),
 (1960, 'Theme From "A Summer Place"'),
 (1961, "Tossin' And Turnin'"),
 (1962, 'Stranger On The Shore'),
 (1963, 'Sugar Shack'),
 (1964, 'I Want To Hold Your Hand'),
 (1965, 'Wooly Bully')]

In [41]:
%%sql
SELECT *
  FROM billboard_top_100_year_end
  WHERE year_rank = 1
  ORDER BY artist
  LIMIT 10

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
64 rows affected.

[(4938, 2003, 1, '50 Cent', '50 Cent', 'In Da Club', 4939.0),
 (3907, 1994, 1, 'Ace Of Base', 'Ace Of Base', 'The Sign', 3908.0),
 (6055, 2011, 1, 'Adele', 'Adele', 'Rolling In The Deep', 6056.0),
 (2234, 1978, 1, 'Andy Gibb', 'Andy Gibb', 'Shadow Dancing', 2235.0),
 (1317, 1969, 1, 'Archies', 'Archies', 'Sugar, Sugar', 1318.0),
 (3183, 1987, 1, 'Bangles', 'Bangles', 'Walk Like An Egyptian', 3184.0),
 (1822, 1974, 1, 'Barbra Streisand', 'Barbra Streisand', 'The Way We Were', 1823.0),
 (809, 1964, 1, 'Beatles', 'Beatles', 'I Want To Hold Your Hand', 810.0),
 (1214, 1968, 1, 'Beatles', 'Beatles', 'Hey Jude', 1215.0),
 (5494, 2007, 1, 'Beyonce', 'Beyonce', 'Irreplaceable', 5495.0),
 (2441, 1980, 1, 'Blondie', 'Blondie', 'Call Me', 2442.0),
 (508, 1961, 1, 'Bobby Lewis', 'Bobby Lewis', "Tossin' And Turnin'", 509.0),
 (3700, 1992, 1, 'Boyz II Men', 'Boyz II Men', 'End Of The Road', 3701.0),
 (3599, 1991, 1, 'Bryan Adams', 'Bryan Adams', '(Everything I Do) I Do It For You', 3600.0),
 (1926, 1975, 1, 'Captain and Tennille', 'Captain and Tennille', 'Love Will Keep Us Together', 1927.0),
 (4438, 1999, 1, 'Cher', 'Cher', 'Believe', 4439.0),
 (3395, 1989, 1, 'Chicago', 'Chicago', 'Look Away', 3396.0),
 (4013, 1995, 1, 'Coolio', 'Coolio', "Gangsta's Paradise", 4014.0),
 (5355, 2006, 1, 'Daniel Powter', 'Daniel Powter', 'Bad Day', 5356.0),
 (3080, 1986, 1, 'Dionne and Friends', 'Dionne and Friends', "That's What Friends Are For", 3081.0),
 (203, 1958, 1, 'Domenico Modugno', 'Domenico Modugno', 'Volare (Nel Blu Dipinto Di Blu)', 204.0),
 (4221, 1997, 1, 'Elton John', 'Elton John', 'Candle In The Wind 1997', 4222.0),
 (103, 1957, 1, 'Elvis Presley', 'Elvis Presley', 'All Shook Up', 104.0),
 (0, 1956, 1, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1.0),
 (4562, 2000, 1, 'Faith Hill', 'Faith Hill', 'Breathe', 4563.0),
 (5637, 2008, 1, 'Flo Rida feat. T-Pain', 'Flo Rida', 'Low', 5638.0),
 (3289, 1988, 1, 'George Michael', 'George Michael', 'Faith', 3290.0),
 (6202, 2012, 1, 'Gotye feat. Kimbra', 'Gotye', 'Somebody That I Used To Know', 6203.0),
 (708, 1963, 1, 'Jimmy Gilmer and The Fireballs', 'Jimmy Gilmer and The Fireballs', 'Sugar Shack', 709.0),
 (304, 1959, 1, 'Johnny Horton', 'Johnny Horton', 'The Battle Of New Orleans', 305.0),
 (5908, 2010, 1, 'Ke$ha', 'Ke$ha', 'TiK ToK', 5909.0),
 (2545, 1981, 1, 'Kim Carnes', 'Kim Carnes', 'Bette Davis Eyes', 2546.0),
 (6203, 2012, 1, 'Gotye feat. Kimbra', 'Kimbra', 'Somebody That I Used To Know', 6204.0),
 (2338, 1979, 1, 'Knack', 'Knack', 'My Sharona', 2339.0),
 (4676, 2001, 1, 'Lifehouse', 'Lifehouse', 'Hanging By A Moment', 4677.0),
 (5082, 2004, 1, 'Usher feat. Lil Jon and Ludacris', 'Lil Jon', 'Yeah!', 5083.0),
 (4115, 1996, 1, 'Los Del Rio', 'Los Del Rio', 'Macarena (Bayside Boys Mix)', 4116.0),
 (5083, 2004, 1, 'Usher feat. Lil Jon and Ludacris', 'Ludacris', 'Yeah!', 5084.0),
 (1111, 1967, 1, 'Lulu', 'Lulu', 'To Sir With Love', 1112.0),
 (6333, 2013, 1, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334.0),
 (5220, 2005, 1, 'Mariah Carey', 'Mariah Carey', 'We Belong Together', 5221.0),
 (608, 1962, 1, 'Mr. Acker Bilk', 'Mr. Acker Bilk', 'Stranger On The Shore', 609.0),
 (4329, 1998, 1, 'Next', 'Next', 'Too Close', 4330.0),
 (4799, 2002, 1, 'Nickelback', 'Nickelback', 'How You Remind Me', 4800.0),
 (2655, 1982, 1, 'Olivia Newton-John', 'Olivia Newton-John', 'Physical', 2656.0),
 (406, 1960, 1, 'Percy Faith', 'Percy Faith', 'Theme From "A Summer Place"', 407.0),
 (2760, 1983, 1, 'Police', 'Police', 'Every Breath You Take', 2761.0),
 (2869, 1984, 1, 'Prince', 'Prince', 'When Doves Cry', 2870.0),
 (1617, 1972, 1, 'Roberta Flack', 'Roberta Flack', 'The First Time Ever I Saw Your Face', 1618.0),
 (2132, 1977, 1, 'Rod Stewart', 'Rod Stewart', "Tonight's The Night (Gonna Be Alright)", 2133.0),
 (6334, 2013, 1, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335.0),
 (911, 1965, 1, 'Sam The Sham and The Pharaohs', 'Sam The Sham and The Pharaohs', 'Wooly Bully', 912.0),
 (1011, 1966, 1, 'Sgt. Barry Sadler', 'Sgt. Barry Sadler', 'The Ballad Of The Green Berets', 1012.0),
 (1417, 1970, 1, 'Simon and Garfunkel', 'Simon and Garfunkel', 'Bridge Over Troubled Water', 1418.0),
 (5638, 2008, 1, 'Flo Rida feat. T-Pain', 'T-Pain', 'Low', 5639.0),
 (5778, 2009, 1, 'The Black Eyed Peas', 'The Black Eyed Peas', 'Boom Boom Pow', 5779.0),
 (1517, 1971, 1, 'Three Dog Night', 'Three Dog Night', 'Joy To The World', 1518.0),
 (1719, 1973, 1, 'Tony Orlando and Dawn', 'Tony Orlando and Dawn', "Tie A Yellow Ribbon 'Round The Ole Oak Tree", 1720.0),
 (5081, 2004, 1, 'Usher feat. Lil Jon and Ludacris', 'Usher', 'Yeah!', 5082.0),
 (6335, 2013, 1, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336.0),
 (2976, 1985, 1, 'Wham!', 'Wham!', 'Careless Whisper', 2977.0),
 (3804, 1993, 1, 'Whitney Houston', 'Whitney Houston', 'I Will Always Love You', 3805.0),
 (3497, 1990, 1, 'Wilson Phillips', 'Wilson Phillips', 'Hold On', 3498.0),
 (2028, 1976, 1, 'Wings', 'Wings', 'Silly Love Songs', 2029.0)]

In [43]:
%%sql
SELECT * FROM us_pumpkin_prices
LIMIT 10

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
10 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (5, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None),
 (6, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None),
 (7, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None),
 (8, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 8), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (9, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 8), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None)]

In [44]:
%%sql
SELECT *, ("High Price" - "Low Price") / 2 + "Low Price" AS "Midpoint Price" FROM us_pumpkin_prices LIMIT 5;

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None, 147.375),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None, 149.875),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None, 152.375),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 150.0),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None, 147.375)]

In [45]:
%%sql
SELECT * FROM us_pumpkin_prices
LIMIT 10

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
10 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (5, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None),
 (6, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None),
 (7, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None),
 (8, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 8), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (9, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 8), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None)]

In [47]:
%%sql
SELECT COUNT(*)
FROM us_pumpkin_prices;

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(1757,)]

In [48]:
%%sql
SELECT COUNT("Item Size")
FROM us_pumpkin_prices;

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(1478,)]

In [49]:
%%sql 
SELECT "Variety", COUNT(*) FROM us_pumpkin_prices GROUP BY "Variety";

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
11 rows affected.

[('HOWDEN TYPE', 542),
 ('BLUE TYPE', 19),
 ('BIG MACK TYPE', 74),
 ('MIXED HEIRLOOM VARIETIES', 57),
 (None, 5),
 ('KNUCKLE HEAD', 20),
 ('HOWDEN WHITE TYPE', 49),
 ('CINDERELLA', 81),
 ('PIE TYPE', 468),
 ('MINIATURE', 310),
 ('FAIRYTALE', 132)]

In [51]:
%%sql
SELECT "City Name", "Variety", COUNT(*) 
FROM us_pumpkin_prices 
GROUP BY "City Name", "Variety" 
HAVING MAX("High Price") > 300 
ORDER BY "City Name" ASC

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[('BALTIMORE', 'CINDERELLA', 25),
 ('COLUMBIA', 'MINIATURE', 54),
 ('LOS ANGELES', 'HOWDEN TYPE', 21),
 ('SAN FRANCISCO', 'PIE TYPE', 45),
 ('SAN FRANCISCO', 'HOWDEN TYPE', 37)]

In [67]:
%%sql
SELECT "City Name", AVG("High Price" - "Low Price") AS "Difference"
FROM us_pumpkin_prices 
GROUP BY "City Name"
ORDER BY "Difference" DESC

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
13 rows affected.

[('BOSTON', 24.394886363636363),
 ('ATLANTA', 14.232456140350877),
 ('NEW YORK', 9.357142857142858),
 ('BALTIMORE', 7.565359477124183),
 ('LOS ANGELES', 5.812096774193549),
 ('PHILADELPHIA', 5.614035087719298),
 ('SAN FRANCISCO', 5.25),
 ('DALLAS', 4.817518248175182),
 ('CHICAGO', 2.6653225806451615),
 ('DETROIT', 1.2272727272727273),
 ('ST. LOUIS', 1.1407766990291262),
 ('COLUMBIA', 0.41825095057034223),
 ('MIAMI', 0.0)]